@import url('https://fonts.googleapis.com/css?family-Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}
.container
{
    position: relative;
    background: #2f363e;
    /*min-height: 500px;*/
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.75),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calculator
{
    position: relative;
    width: 450px;
    height: 450px;
    background: #2f363e;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#answerplace
{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    inset: 5px 5px 20px rgba(255,255,255,0.2);
    inset: -5px -5px 15px rgba(0,0,0,0.75);
}
#answerplace div
{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--clr); 
}
#answerplace div:nth-child(1)::after,
#answerplace div:nth-child(2)::after
{
    content: ':';
    position: absolute;
    right: -4px
}
